ModelPlaneAPI/wwwroot/images/planes/90c4cdfe-c0a5-4aae-a03c-cada41012921_FSDAB1122_HERO.jpg
ModelPlaneAPI/wwwroot/images/planes/aa1e8d44-ab32-4614-a8a3-0126231771b1_Model_B747-400_-_SINGAPORE_AIRLINES.jpg
/ModelPlaneAPI/wwwroot/images/planes/
