/* Updated Button Class */
.searchButton {
    height: 26px;
    border: 1px solid #2989CC; /* Border with a blue shade */
    padding: 1px 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: inherit;
    color: white; /* Text color white */
    background-color: #2989CC; /* Solid blue background color */
    cursor: pointer;
    margin: 0;
    outline: 0;
    border-radius: 2px;
  }
  
  /* Search Input Styling */
  .searchInput {
    border: 1px solid #999999;
    font-family: "Arial", "Open Sans", Verdana, Arial, Helvetica;
    font-size: 10px;
    border-radius: 3px;
    color: #222222;
    padding: 5px;
    width: 125px; /* Same as in the original */
  }
  
  /* Style for the input fields' container to ensure proper layout */
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  